<section id="contactus-content">
    <div class="container">
        <div class="row">
            <div class="col d-none d-md-flex">
                <img class="contactus-image" src="../assets/contactus.png" alt="contactun-image">
            </div>
            <div class="col">
                <div class="contactus-form">
                    <h3 class="contactus-header">{ CONTACT US }</h3>

                    <label for="name" class="input-label">Name</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>

                    <label for="mobile-number" class="input-label">Mobile Number</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>

                    <label for="email" class="input-label">Email</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>

                    <div class="row submit-button-row">
                        <button type="submit" class="btn btn-submit">Submit</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>