<section id="footer-content">
    <div class="footer-container">
        <div class="row footer-row">
            <div class="col footer-col">
                <div class="align-top main-footer-col">
                    <img class="footer-logo" src="../assets/logo-white.png" alt="">
                </div>
                <div class="align-middle main-footer-col">
                    <h4>About us</h4>
                    <p>Lorem ipsum dolor sit amet consectetur. Est sollicitudin placerat nec tellus
                        facilisis a fusce nunc. Consequat suspendisse eleifend sit ipsum scelerisque
                        sollicitudin at sed.</p>
                </div>
                <div class="align-bottom main-footer-col">
                    <p class="footer-text">© All rights reserved by Bullseye</p>
                </div>
            </div>

            <div class="col footer-col mobile-hide">
                <div class="align-top">
                    <h4>QUICK LINKS</h4>
                </div>
                <div class="align-middle">
                    <ul>
                        <li><a href="#" style="color: white;">Home</a></li>
                        <li><a href="#" style="color: white;">Services</a></li>
                        <li><a href="#" style="color: white;">About us</a></li>
                        <li><a href="#" style="color: white;">Blogs</a></li>
                        <li><a href="#" style="color: white;">Projects</a></li>
                        <li><a href="#" style="color: white;">Contact us</a></li>
                    </ul>
                </div>
                <div class="align-bottom">
                    <h6>Follow us on : </h6>
                    <a class="social-media-icons" href="#"><i class="fab fa-facebook-f"></i> </a>
                    <a class="social-media-icons" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="social-media-icons" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="social-media-icons" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-media-icons" href="#"><i class="fas fa-envelope"></i></a>
                </div>
            </div>

            <div class="col mobile-hide">
                <div class="align-top">
                    <h4>SUBMIT NEWSLETTER</h4>
                </div>
                <div class="align-middle">
                    <p>Lorem ipsum dolor sit amet consectetur. Est sollicitudin placerat nec tellus
                        facilisis a fusce
                        nunc. Consequat suspendisse eleifend sit ipsum scelerisque sollicitudin at sed. </p>
                </div>
                <div class="align-bottom">
                    <div class="subscribe-section">
                        <input type="text" placeholder="Enter your email">
                        <button type="submit">Submit</button>
                    </div>
                    <div class="align-horizontal footer-signature">
                        <div class="col">
                            <p>Designed and developed by &nbsp; &nbsp; <img src="../assets/prodigit-logo.png" alt="">
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
</section>