<section id="footer-content">
    <div class="footer-container">
        <div class="row">
            <div class="col left-col">
                <div class="row">
                    <img class="footer-logo" src="../assets/logo-white.png" alt="">
                </div>
                <div class="row">
                    <h4>About us</h4>
                    <p>Lorem ipsum dolor sit amet consectetur. Est sollicitudin placerat nec tellus
                        facilisis a fusce
                        nunc. Consequat suspendisse eleifend sit ipsum scelerisque sollicitudin at sed. </p>
                </div>
                <div class="row">
                    <p class="footer-text">© All rights reserved by Bullseye</p>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <h4>QUICK LINKS</h4>
                </div>
                <div class="row">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="row">
                    <h6>Follow us on : </h6>
                </div>
                <div class="row">
                    <a class="social-media-icons" href="#"><i class="fab fa-facebook-f"></i> </a>
                    <a class="social-media-icons" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="social-media-icons" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="social-media-icons" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <i class="fas fa-envelope"></i>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <h4>SUBMIT NEWSPAPER</h4>
                </div>
                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur. Est sollicitudin placerat nec tellus
                        facilisis a fusce
                        nunc. Consequat suspendisse eleifend sit ipsum scelerisque sollicitudin at sed. </p>
                </div>
                <div class="row">
                    <form action="">
                        <input type="text" placeholder="Enter your email">
                        <button type="submit">Submit</button>
                    </form>
                    <div class="row">
                        <div class="col">
                            <p>Designed and developed by </p>
                        </div>
                        <div class="col">
                            <img src="../assets/prodigit-logo.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>