<section id="hero-content" class="hero">
    <div class="row">
        <div class="col d-none d-md-flex">
            <img src="../assets/HeroMask.png" alt="heromask" class="mask-image">
            <img src="../assets/HeroLady.png" alt="herolady" class="hero-lady-image">
        </div>
        <div class="col">
            <div class="hero-content">
                <div class="row">
                    <h1 class="hero-title">Bull's Eye Outsourcing - Outsourcing <br />Solutions, Right on Target</h1>
                </div>
                <div class="row">
                    <div class="custom-btn-group">
                        <button type="button" class="btn btn-outline-light">VISION</button>
                        <hr class="custom-hr">
                        <button type="button" class="btn btn-outline-light">MISSION</button>
                        <hr class="custom-hr">
                        <button type="button" class="btn btn-outline-light">ABOUT US</button>
                    </div>
                </div>
                <div class="row hero-paragraph-row">
                    <p class="hero-paragraph">
                        Empowering Trust through Diligent Verification: Our mission is to provide reliable,
                        comprehensive, and swift background verification services across the globe. Committed to
                        upholding integrity, accuracy and confidentiality, we aim to ensure the confidence and security
                        of our clients by delivering thorough and ethical verification solutions tailored to their
                        specific needs.
                        <br /><br />
                        By leveraging technology, expertise and a customer-centric approach, we strive to be the
                        foremost partner in enabling informed decisions and fostering a safer, more trustworthy
                        environment for businesses and individuals alike.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>