<section id="industries-content">
    <div class="industries-container">
        <div class="row">
            <h3 class="products-header">{ INDUSTRIES }</h3>
        </div>
        <div class="row">
            <div class="industry-container">
                <div class="industry-image-container">
                    <img src="../assets/industries/1.png" alt="">
                    <p class="industry-image-text">Education</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/2.png" alt="">
                    <p class="industry-image-text">Construction and Residential</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/3.png" alt="">
                    <p class="industry-image-text">Energy and Natural Gas</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/4.png" alt="">
                    <p class="industry-image-text">Healthcare and Pharma</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/5.png" alt="">
                    <p class="industry-image-text">Healthcare and Pharma</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/6.png" alt="">
                    <p class="industry-image-text">Insurance and Hospitality</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/7.png" alt="">
                    <p class="industry-image-text">Energy and Natural Gas</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/8.png" alt="">
                    <p class="industry-image-text">IT/ITeS</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/9.png" alt="">
                    <p class="industry-image-text">FMCG and Retail</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/10.png" alt="">
                    <p class="industry-image-text">Media and Advertising</p>
                </div>
                <div class="industry-image-container">
                    <img src="../assets/industries/11.png" alt="">
                    <p class="industry-image-text">Manufacturing and Gig Economy</p>
                </div>
            </div>
        </div>
    </div>
</section>