<section id="products-content">
    <div class="products-container">
        <div class="row">
            <h3 class="products-header">{ PRODUCTS }</h3>
        </div>
        <div class="row">
            <div class="products-image-container">
                <img class="products-image" src="../assets/products/1.png" alt="">
                <div class="products-image-text">BEST</div>
            </div>
            <div class="products-image-container">
                <img class="products-image" src="../assets/products/2.png" alt="">
                <div class="products-image-text">iSMART</div>
            </div>
            <div class="products-image-container">
                <img class="products-image" src="../assets/products/3.png" alt="">
                <div class="products-image-text">DigiAV</div>
            </div>
        </div>
    </div>
    <br /><br />
</section>