<section id="solutions-content">
    <div class="solutions-container">
        <div class="row">
            <h3 class="solutions-header">{ SOLUTIONS }</h3>
        </div>
        <div class="row">
            <div class="solutions-body">
                <div class="image-container">
                    <img src="../assets/solutions/1.png" alt="">
                    <div class="image-text">Vendor Due Diligence</div>
                    <div class="gradient-overlay"></div>
                </div>
                <div class="image-container">
                    <img src="../assets/solutions/2.png" alt="">
                    <div class="image-text">Moonlighting Check</div>
                    <div class="gradient-overlay"></div>
                </div>
                <div class="image-container">
                    <img src="../assets/solutions/3.png" alt="">
                    <div class="image-text">Social Media Check</div>
                    <div class="gradient-overlay"></div>
                </div>
                <div class="image-container">
                    <img src="../assets/solutions/4.png" alt="">
                    <div class="image-text">International Employee Screening</div>
                    <div class="gradient-overlay"></div>
                </div>
                <div class="image-container">
                    <img src="../assets/solutions/5.png" alt="">
                    <div class="image-text">Statutory Compliance Document Collection</div>
                    <div class="gradient-overlay"></div>
                </div>
                <div class="image-container">
                    <img src="../assets/solutions/6.png" alt="">
                    <div class="image-text">Payroll Management</div>
                    <div class="gradient-overlay"></div>
                </div>
                <div class="image-container">
                    <img src="../assets/solutions/7.png" alt="">
                    <div class="image-text">Employee Background Screening</div>
                    <div class="gradient-overlay"></div>
                </div>
                <div class="image-container">
                    <img src="../assets/solutions/8.png" alt="">
                    <div class="image-text">Drug and Pre-Employment Health Screening</div>
                    <div class="gradient-overlay"></div>
                </div>
            </div>
            <div class="sulotions-body-sub d-none d-md-flex">
                <div class="image-container">
                    <img src="../assets/solutions/9.png" alt="">
                    <div class="image-text">Adverse Web and Media Check</div>
                    <div class="gradient-overlay"></div>
                </div>
                &nbsp; &nbsp;
                <div class="image-container">
                    <img src="../assets/solutions/10.png" alt="">
                    <div class="image-text">Vendor Due Diligence</div>
                    <div class="gradient-overlay"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
</section>