section.hero {
    width: 100%;
    height: 480px;
    background: rgb(126, 20, 22);
}

.hero-parent {
    position: relative;
}

img.hero-lady-image {
    top: 0;
    left: 0;
    width: 80%;
}

img.mask-image {
    position: absolute;
    z-index: 1;
    width: 80%;
}

.hero-content {
    color: white;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0;
    padding: 20px;
}

.hero-paragraph-row {
    width: 80%;
}

.hero-paragraph {
    padding: 20px;
}

.custom-btn-group {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.custom-btn-group button {
    margin: 0 5px;
}

.custom-hr {
    border: 1px solid white;
    width: 50px;
    margin-top: 20px;
}

@media (max-width: 576px) {

    .custom-btn-group button {
        font-size: 12px;
        padding: 5px 10px;
    }

    section.hero {
        height: 600px;
    }
}